.login{
    display:flex;
    background:rgba(255, 255, 255, 0.651);
  // box-shadow: 0 3px 10px rgba(0, 0, 0, 0.671);
    width: 60%;
    margin:auto;
    margin-top:7rem;
    border-radius: 15px;
    padding: 1em;
    flex-direction: column;
    &-container{
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
}