.fetcher-container {
  margin: auto;
  width: 100%;
}

.fetcher {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  &_charts_div {
    // background-color: brown;
    min-width: 400px;
    width: 700px; //krishna
  }
  &_content_div {
    flex: 1;
    width: 300px;
  }
  &_carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: left;
    // margin: auto;
    flex-direction: column;

    .breadCrumps {
      font-size: 1.2rem;
      text-align: center;
      flex: 0.8;
    }
  }
}
.Chart_holder {
  margin: auto;
  background-color: rgb(245, 245, 245);
  padding: 30px;
  max-width: 700px !important;
  min-width: 600px !important;
  max-height: fit-content !important;
  transform: scale(0.8);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.Chart_holder2 {
  margin: auto;
  background-color: rgb(253, 253, 253);
  padding: 30px;
  max-width: 600px !important;
  min-width: 600px !important;
  max-height: fit-content !important;
  transform: scale(1);
}

.presentation p,
span {
  cursor: pointer;
}
