// .overall {
//   width: 95%;
//   margin: auto;
// }
// .chartsContainer {
//   display: flex;
//   margin: auto;
//   width: 100%;
//   flex-direction: column;
//   text-align: center;
//   background-color: var(--themeBackground);
//   border-radius: 15px;
//   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
//     rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
//     rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
// }

// // .row1{
// //     // background-color: olive;
// //     display: flex;
// //     flex-direction: row;
// //     justify-content:space-around;
// //     align-items: center;
// //     margin-bottom: 20px;
// //     #c1{
// //         flex:0.4;
// //     }
// //     #c2{
// //         flex: 0.4;
// //     }
// // }
// // .row2{
// //     display: flex;
// //     flex-direction: row;
// //     justify-content:space-around;
// //     #c3{
// //         flex:0.5;
// //         align-items: center;
// //     }
// //     #c4{
// //         align-items: center;
// //         flex:0.4;
// //     }
// // }
// //         .overall_charts{
// //             min-width: 400px;
// //             width: 400px;
// //             flex: 0.5;
// //             transition: all .5s ease;
// //             flex-grow: 1;

// //         }
// // }

// // #c1{
// //     // max-width: 400px !important;
// //     // width:30%;
// // }
// // #c2, #c3,  #c4{
// //     // display: none;
// // }

@import url("https://fonts.googleapis.com/css2?family=Karla&family=Montserrat:wght@600&family=PT+Sans:ital@1&display=swap");
.overall_box {
  font-family: "Karla", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "PT Sans", sans-serif;
  color: black;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.firstItem:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.firstDoughnut {
  padding-left: 0px !important;
  padding-top: 0px !important;
}
.headings {
  width: 100%;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 3rem;
  font-size: xx-large;
  font-weight: bolder;
}
