.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 40%;
  padding: 20px;
  margin: auto;
  margin-top: 2rem;
  min-width: 350px;
  // min-height: 250px;
  background: rgba(255, 255, 255, 0.432);
    box-shadow: 0 4px 12px 0 rgba(31, 58, 18, 0.37);
    backdrop-filter: blur( 5.0px );
    -webkit-backdrop-filter: blur( 5.0px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.picture {
  flex:0.5;
  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  border-radius: 10px;
  box-shadow: 3px 3px 1px #ccc;
  -webkit-box-shadow: 3px 3px 1px #ccc;
  -moz-box-shadow: 3px 3px 1px #ccc;
}
}

.content {
  display: flex;
  margin-left: 10px;
  flex: 0.5;
  align-content: center;
  justify-content: space-between;
  min-width: 200px;
}
.content p {
  margin: 0px;
}
.icons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 10px;
}
.icons a {
  margin-right: 5px;
}
.name {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.role {
  color: grey;
}
.desc {
  color: grey;
  font-size: small;
  padding-top: 10px;
}
.rollno {
  color: grey;
  font-size: smaller;
}
