.teamcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  padding: 20px;
  margin: auto;
}
.picture img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  float: left;
  box-shadow: 3px 3px 1px #ccc;
  -webkit-box-shadow: 3px 3px 1px #ccc;
  -moz-box-shadow: 3px 3px 1px #ccc;
}

.content {
  margin-left: 10px;
  height: 200px;
  position: relative;
}
.content p {
  margin: 0px;
}
.icons {
  position: absolute;
  bottom: 0;
}
.icons a {
  margin-right: 5px;
}
.name {
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 5px;
}
.role {
  color: grey;
}
.desc {
  color: grey;
  font-size: small;
  padding-top: 10px;
}
.rollno {
  color: grey;
  font-size: smaller;
}
