.profile-cards-container{
    width: 80%;
    margin: auto;
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.team-header{
    h3{
        margin-top: 4rem;
        margin-top: 0px;
        padding-top: 0px;
    }
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
}
.teamsPage{
  background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 112vh;
}
.teamsParticle{
    max-height: 98vh;
  background: linear-gradient(0.50turn, #56a2c2, #def3ce, #f69d3c);

}