.main_profile {
  border-radius: 20px !important; 
  /* transform: scale(0.8); */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px !important;
}
.card_profile{
  display: flex;
  flex-direction: row;
}
.card_profile:hover{
    transform: scale(1.05);
    transition: all .4s ease-in-out;
}
.profile_pic{
    object-fit:fill;
}
.mentor_profile_pic{
    height: 100%;
    max-width: 270px;
    max-height: 270px;
}
.card_profile_left{
    min-width: 200px;
}
.card_profile_right{
    position: relative;
    }
.role,.name,.registration{
    text-align: center;
}
.registration{
    margin-bottom: 15px !important;
    font-size: 14px !important;
}
.isCursive{
    font-family: cursive !important; 
}
.socialIcons{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: space-around;
    align-items:baseline;
    padding: 0px 0px 10px 0px;
}
.mentor_socialIcons{
    display: flex;
    justify-content: space-around;
}
.self_details{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
