@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
.homePage {
  margin-top: 6rem;
}
.main_section {
  width: 90%;
  margin: auto;
}
.hero_section {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin-top: -1.3rem;
  color: #000000;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: x-large;
  opacity: 0.9;
  h1 {
    align-items: center;
  }
  &_outer {
    // background-color: rgb(245, 48, 48);
    height: 70vh;
    padding: 1em;
    border-radius: 15px;
    margin: auto;
  }

  &_inner {
    // background-color: red;
    z-index: -1;
    border-radius: 15px;
    height: 100px;
  }
}
