@import url("https://fonts.googleapis.com/css2?family=Karla&family=Montserrat:wght@600&family=PT+Sans:ital@1&display=swap");
.overall-layout {
  font-family: "Courier New", Courier, monospace;
  color: black;
  font-size: small;
}
.secondSection {
  // background-color: aqua;
  margin-top: 50px;
  padding-top: 6rem;
}
.firstContainer {
  border-radius: 10px;
  padding: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1dfd1;
  background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);
}
.secondContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
// .shadow {
//   box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
//   padding-bottom: 20px;
// }

.gradHeading {
  flex: 1;
  text-align: center;
  margin-top: 3rem;

  font-size: xx-large;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.row2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.firstItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headings {
  width: 100%;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  font-size: xx-large;
  font-weight: bolder;
}
.campusWiseSecondDoughnutChart {
  margin-top: 40px;
}
.sub {
  display: inline;
  border-bottom: 3px solid #f9dd94;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
}
.cardtitles {
  margin-bottom: -69px;
}
