.navbar {
  width: 100%;
  height: 3rem;
  background-color: rgba(67, 152, 221, 0.986);
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
  align-items: center;

  //  glassmorphism
  position: fixed;
  top: 0px;
  z-index: 10;
  width: 100%;
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -webkit-box-shadow: 0 0 8px rgb(0, 0, 0);
  -moz-box-shadow: 0 0 8px rgb(0, 0, 0);
  background-color: #861657;
  background-image: linear-gradient(326deg, #861657 0%, #ffa69e 74%);

  &_links {
    display: flex;
    margin-right: 3rem;
    align-items: center;
    justify-content: right;
    flex: 0.4;
  }
  &-link {
    padding: 0.3em;
    color: rgb(253, 253, 253);
    text-decoration: none;
    align-self: center;
    font-size: 1.2rem;
    &-login {
      flex: 1;
      display: flex;
      justify-content: right;
    }
    &-btn {
      border: none;
      border-radius: 10px;
      outline: none;
      padding: 0.3em;
      color: rgb(255, 255, 255);
      text-decoration: none;
      align-self: center;
      font-size: 1.2rem;
      background-color: transparent;
      font-weight: 300;
      font-family: Montserrat, sans-serif;
    }
  }
  &_menu {
    font-size: 2rem;
    color: white;
    display: none;
  }
  &_logo {
    padding: 1em;
    flex: 0.3;
  }
  &_Header {
    color: rgb(245, 244, 244);
    display: flex;
    justify-content: center;
    flex: 1;
    text-align: center;
    align-items: flex-start;
    margin: auto;
    margin-top: -10px;
    h3 .heading_year {
      color: maroon;
      font-size: x-large;
    }
  }
}
.navbar_icon img {
  margin-right: 5px;
}

@media screen and (min-width: 700px) {
  //    .navbar_icon{
  //        display:none !important;
  //    }
  .navbar_menu {
    display: none;
  }
}
.modal_buttons_container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 20px;
  &-btn {
    &-yes {
      background-color: rgb(233, 73, 73);
      padding: 4px 10px;
      border: none;
      outline: none;
      padding: 10px;
      border-radius: 8px;
      font-weight: 700;
      color: white;
    }
    &-no {
      color: white;

      padding: 4px 10px;
      border: none;
      outline: none;
      padding: 10px;
      font-weight: 700;
      border-radius: 8px;
      background-color: rgba(102, 104, 105, 0.986);
    }
  }
}

// to just display the teams option in navbar and GITAM Logo
@media only screen and (max-width: 1200px) {
  .navbar {
    width: 100%;
    height: 3rem;
    background-color: rgba(67, 152, 221, 0.986);
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    align-items: center;
  
    //  glassmorphism
    position: fixed;
    top: 0px;
    z-index: 10;
    width: 100%;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    -webkit-box-shadow: 0 0 8px rgb(0, 0, 0);
    -moz-box-shadow: 0 0 8px rgb(0, 0, 0);
    background-color: #861657;
    background-image: linear-gradient(326deg, #861657 0%, #ffa69e 74%);
  
    &_links {
      display: flex;
      // margin-right: 3rem;
      align-items: center;
      justify-content: right;
      flex: 0.4;
    }
    &-link {
      padding: 0.3em;
      color: rgb(253, 253, 253);
      text-decoration: none;
      align-self: center;
      font-size: 0.9rem;
      &-login {
        flex: 1;
        display: flex;
        justify-content: right;
      }
      &-btn {
        border: none;
        border-radius: 10px;
        outline: none;
        padding: 0.3em;
        color: rgb(255, 255, 255);
        text-decoration: none;
        align-self: center;
        font-size: 0.9rem;
        background-color: transparent;
        font-weight: 300;
        font-family: Montserrat, sans-serif;
      }
    }
    &_menu {
      font-size: 2rem;
      color: white;
      display: none;
    }
    &_logo {
      padding: 1em;
      flex: 0.3;
    }
    &_icon{
      img{
        height: 60px;
        width: 80px;
        object-fit: contain;
      }
    }
    &_Header {
      color: rgb(245, 244, 244);
      display: flex;
      justify-content: center;
      flex: 1;
      text-align: center;
      align-items: flex-start;
      margin: auto;
      h3 {
        font-size: 1rem;
      }
      h3 .heading_year {
        color: maroon;
        font-size: 1rem;
      }
    }
  }
  .navbar_icon img {
    margin-right: 5px;
  }
}
