.FooterStyle {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  ul {
    list-style-type: none;
  }
}
.footercontainer {
  width: 100%;
}
.footercontainer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dsclogo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.dsclogo span {
  margin-left: 15%;
}
