.FooterStyle {
  padding-top: 1rem;
  // padding-bottom: 1rem;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footercontainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.dsclogo {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  img {
    width: calc(14vw + 120px);
    max-width: 400px;
  }
}
.rightSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
}
.rightSide span:nth-child(2) {
  font-size: 10px;
}
