#tsparticles {
  background-color: red;

  .tsparticles-canvas-el {
    width: 100% !important;
    margin: auto !important;
    height: 100% !important;
    position: absolute !important;
    top: 8vh !important;
  }
}
