table {
  border-collapse: collapse;
  max-width: 900px;
  width: 100%;
  margin: 2rem auto;
  background: rgba(179, 179, 179, 0.322);
  border-radius: 10px;
  font-weight: 500;
}
th,
td {
  padding: 15px;
  font-size: 13px;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgb(0, 0, 0);
}
th {
  text-align: left;
  color: rgba(255, 255, 255, 0.959);
}

thead th {
  background-color: #506ce6;
}
thead th:nth-child(1) {
  background-color: #506ce6;
}
tbody tr:hover {
  background-color: grey;
}
tbody td {
  position: relative;
}
tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}
