.compare{
    margin: auto;
    text-align: center;
    margin-top: 100px;
}

    .year_container{
    margin: auto;
    }
    .year_selectors{
        margin: auto;
    }
    .year_data{
        // display: none;
        margin: auto;
    }


.compareSVG{
    margin: auto;
    animation: blink 1s step-start infinite;
    opacity: 50%;
}