.compareTable {
  border-collapse: collapse;
  // max-width: 900px; 
  width: 30%; 
  margin: 0rem auto;
  // border-radius: 10px;
  font-weight: 500;
  border: 1px solid grey;
  margin:.6em;
  overflow: hidden !important;
  
th,td {
  padding: 15px;
  font-size: 13px;
  color: rgb(0, 0, 0);
}
th {
  text-align: left;
  color: rgba(255, 255, 255, 0.959);
}

thead th {
  background-color: #506ce6;
}
thead th:nth-child(1) {
  background-color: #506ce6;
}
tbody tr:hover {
  background-color: rgb(225, 218, 218);
}
tbody td {
  position: relative;
}
thead, th{
  text-align: center;
}
.green{
    color: rgba(63, 172, 63, 0.858);
}
.tableHeader{
  background: linear-gradient(326deg, #e6ba2bc7 0%, #dee140 74%) !important;
  color:black;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: larger;
}
}