.App {
  text-align: center;
  max-width: 100vw;
  overflow-x: hidden;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: 0px solid transparent;
}
