.mainInput {
  display: flex;
  justify-content: center;
  align-items: center;
}
.formInformation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.formInformation h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.formTable table{
  width:50%;
}
  .formTable table tr{
    height: 2rem;
  }

  .Logs-container{
    h4{
      width:80%;
      margin: auto;
    }
  }