.mainInput {
  display: flex;
  justify-content: center;
  align-items: center;
}
.formInformation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.formInformation h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
